.setting-container {
	width: 80%;
	/* border: 4px solid palevioletred; */
}
.dashboard-container {
	width: 100%;
	padding: 32px 64px;
}
.btn-create {
	background: #974aa4;
	width: 100%;
	height: 90px;
	outline: none;
	border: none;
	font-size: 32px;
	font-weight: bold;
	/* background: linear-gradient(
		to right,
		rgba(186, 35, 210, 0.76),
		rgba(204, 209, 217, 1)
	);
	color: transparent;
	/* -webkit-background-clip: text; */
	/* background-clip: text;s */
	/* -webkit-text-stroke: 2px; */
}
.btn-create:hover,
.btn-create:focus,
.btn-create:active {
	background: #974aa4 !important;
}
