.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 3px solid #d3d3d3;
	margin: 1rem;
	border-radius: 10px;
	padding-left: 1rem;
}
.top h3 {
	margin-top: 0.5rem;
	flex-grow: 1;
	font-weight: bold;
}

.bottom {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-top: 1rem;
	border: 3px solid #d3d3d3;
	margin: 1rem;
	border-radius: 10px;
}
.bottom :first-child :hover {
	/* border: 1px solid red; */
	background-color: rgba(211, 211, 211, 0.3);
}
